---
import { getCollection } from "astro:content";
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";
import type { CollectionEntry } from "astro:content";

// Create an image map
const imageMap: Record<string, string> = {
  "abdomen-8762847_1280.jpg": "/abdomen-8762847_1280.jpg",
};

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post: CollectionEntry<"blog">) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
if (!post) throw new Error("Post not found");
const { Content } = await post.render();
---

<BlogPostLayout
  title={post.data.title}
  pubDate={post.data.pubDate}
  author={post.data.author}
  readTime={post.data.readTime}
  image={imageMap[post.data.image] || "/fallback.jpg"}
>
  <div class="prose mx-auto">
    <Content />
  </div>
</BlogPostLayout>
