@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-medium;
  }
}

body {
  font-family: 'Montserrat Variable', sans-serif;
  background-color: var(--color-background);
}

h1, h2 {
  font-weight: 500; /* Semi-bold */
}

/* Base markdown styles */
.markdown-content {
  line-height: 1.75;
}

.markdown-content ul {
  list-style-type: disc;
  padding-left: 2rem;
  margin: 1rem 0;
}

.markdown-content ol {
  list-style-type: decimal;
  padding-left: 2rem;
  margin: 1rem 0;
}

.markdown-content li {
  margin: 0.5rem 0;
}

.markdown-content p {
  margin: 1rem 0;
}

/* Add CSS variables at the root level */
:root {
  --color-primary: #ed5f26      ; /* amber-700 */
  --color-primary-dark: #cf4711 ; /* darker orange */
  --color-secondary: #1F7A8C  ; /* aqua */
  --color-secondary-light: #faf8f0; /* light aqua */
  --color-accent: #cf5500; /* orange */
  --color-background: #faf8f0; /* off-white */
}



/* Continue updating other color references as needed */


