@import "tailwindcss";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-500: #3b82f6;
  --color-primary-900: #1e3a8a;
  
  --font-family-display: "Inter", sans-serif;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

.contentauto {
  content-visibility: auto;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-medium;
  }
}

body {
  font-family: 'Montserrat Variable', sans-serif;
  background-color: var(--color-background);
}

h1, h2 {
  font-weight: 500; /* Semi-bold */
}

html {
  scroll-padding-top: 100px; /* adjust to match your fixed/sticky header height */
  scroll-behavior: smooth; /* optional: enables smooth scrolling */
}

/* Base markdown styles */
.markdown-content {
  line-height: 1.75;
}

.markdown-content ul {
  list-style-type: disc;
  padding-left: 2rem;
  margin: 1rem 0;
}

.markdown-content ol {
  list-style-type: decimal;
  padding-left: 2rem;
  margin: 1rem 0;
}

.markdown-content li {
  margin: 0.5rem 0;
}

.markdown-content p {
  margin: 1rem 0;
}

/* Add CSS variables at the root level */
:root {
  --color-primary: #ce7154        ; /* amber-700 */
  --color-primary-dark: #c86140 ; /* darker orange */
  --color-primary-lighter: #da927c; /* lighter amber */
  --color-secondary: #c5e8e8; /* lighter aqua */
  --color-secondary-light: #faf8f0; /* light aqua */
  --color-accent: #cf5500; /* orange */
  --color-background: #f4f4ee; /* off-white */
  --color-card-bg: #ecece2; /* card background */
--header-bg: rgba(244, 244, 238, 0.5);}


