---
import Layout from "../layouts/Layout.astro";
import "@fontsource-variable/montserrat";

const headline = "Health Tips";
---

<Layout title="Health Tips | Wellness Medical Center">
  <section>
    <div class="md:flex md:items-center md:gap-8">
      <div class="md:w-3/5">
        <h2 class="text-4xl text-amber-700 font-bold mb-4 mt-8">{headline}</h2>
        <p class="text-2xl">
          Explore our latest health tips and advice for a healthier lifestyle.
        </p>
      </div>
    </div>
  </section>
</Layout>

