---
import Layout from "../layouts/Layout.astro";
import maria1 from "../assets/maria1.jpg";
import Image from "astro/components/Image.astro";
// Supports weights 100-900
import "@fontsource-variable/montserrat";
---

<Layout title="Home | Wellness Medical Center">
  <section>
    <div class="md:flex md:items-center md:gap-8">
      <div class="md:w-3/5">
        <h2 class="text-4xl text-amber-700 font-bold mb-4">
          Acupuncture & Traditional Chinese Medicine
        </h2>
        <p class="text-2xl">
          Restoring balance, relieving pain, and supporting your body's natural
          healing.
        </p>
        <div class="mt-6 flex flex-col sm:flex-row gap-4">
          <button
            class="flex items-center justify-center text-amber-50 gap-2 px-4 py-2 rounded-full bg-[#cf5500] hover:bg-amber-700 transition-colors"
            aria-label="Meet Our Practitioners"
            onclick="window.location.href='/about'"
          >
            <span class="text-sm font-medium">Meet Our Practitioners</span>
          </button>
          <button
            class="flex items-center justify-center gap-2 px-4 py-2 rounded-full border-2 border-[#cf5500] text-[#cf5500] hover:border-amber-700 hover:text-amber-700 transition-colors"
            aria-label="Visit the Shop"
            onclick="window.location.href='/shop'"
          >
            <span class="text-sm font-medium">Visit the Shop</span>
          </button>
        </div>
      </div>

      <div class="md:w-2/5 mt-8 md:mt-0">
        <Image
          src={maria1}
          alt="Maria providing acupuncture treatment"
          class="w-full h-full max-h-[600px] object-cover rounded-[24px]"
        />
      </div>
    </div>
  </section>
</Layout>
