---
import Layout from "../layouts/Layout.astro";
import maria1 from "../assets/maria1.jpg";
import Image from "astro/components/Image.astro";
// Supports weights 100-900
import "@fontsource-variable/montserrat";
---

<Layout>
  <section>
    <div class="md:flex md:items-center md:gap-8">
      <div class="md:w-3/5">
        <h2 class="text-4xl font-bold mb-4">
          Acupuncture & Traditional Chinese Medicine
        </h2>
        <p class="text-2xl">
          Restoring balance, relieving pain, and supporting your body's natural
          healing.
        </p>
      </div>

      <div class="md:w-2/5 mt-8 md:mt-0">
        <Image
          src={maria1}
          alt="Maria providing acupuncture treatment"
          class="w-full h-full max-h-[500px] object-cover rounded-[24px]"
        />
      </div>
    </div>
  </section>
</Layout>
