---
import wellnessSage from "../assets/wellness-sage.svg";
// No props needed for now
---

<a href="/" class="flex items-center space-x-2">
  <img
    src={wellnessSage.src}
    alt="Wellness Medical Center Logo"
    class="w-10 h-10 md:w-14 md:h-14"
    aria-hidden="true"
  />
  <h1
    class="text-lg sm:text-xl md:text-2xl font-medium text-[var(--color-primary)]"
  >
    Wellness Medical Center
  </h1>
</a>
