---
interface Props {
  currentPath: string;
}

const { currentPath } = Astro.props;
---

<div id="mobileMenu" class="lg:hidden hidden px-4 pb-4 shadow-md">
  <a
    href="/"
    class={`block py-3 text-center text-lg hover:text-[var(--color-primary-dark)] font-medium ${currentPath === "/" ? "text-[var(--color-primary)] [font-weight:600]" : ""}`}
    >Home</a
  >
  <a
    href="/about"
    class={`block py-3 text-center text-lg hover:text-[var(--color-primary-dark)] font-medium ${currentPath === "/about" ? "text-[var(--color-primary)] [font-weight:600]" : ""}`}
    >About Us</a
  >
  <a
    href="/shop"
    class={`block py-3 text-center text-lg hover:text-[var(--color-primary-dark)] font-medium ${currentPath === "/shop" ? "text-[var(--color-primary)] [font-weight:600]" : ""}`}
    >Wellness Shop</a
  >
  <a
    href="/blog"
    class={`block py-3 text-center text-lg hover:text-[var(--color-primary-dark)] font-medium ${currentPath === "/blog" ? "text-[var(--color-primary)] [font-weight:600]" : ""}`}
    >Newsletter</a
  >
</div>
