---
// No props needed
---

<div id="mobileMenu" class="md:hidden hidden px-4 pb-4">
  <a href="/" class="block py-2">Home</a>
  <a href="/about" class="block py-2">About Us</a>
  <a href="/shop" class="block py-2">Wellness Shop</a>
  <a href="/blog" class="block py-2">Health Tips</a>
</div>
